<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DailyOrange iFrame Template</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/a1104277d8.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="main.js"></script>

</head>
    
<body>

    
    <div class="mainContainer">
        <div class="schineMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.071677020563!2d-76.13593161984154!3d43.03992337924929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9f39f8dcd9c3b%3A0x76db76d883b8ff0!2sSchine+Student+Center+-+Syracuse+University!5e0!3m2!1sen!2sus!4v1566237441327!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        
        <div class="kimmelMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.015731683043!2d-76.13069150000003!3d43.04110049999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9f30abfafb17d%3A0x21e614d345f51598!2sKimmel+Hall!5e0!3m2!1sen!2sus!4v1566296225348!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        
        <div class="birdMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.0701789467803!2d-76.13480568441828!3d43.039954899885196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9f39ffa21741d%3A0xf8f606c326bfd303!2sSyracuse+University+Libraries!5e0!3m2!1sen!2sus!4v1566296562429!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        <div class="womensMap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.0701789467803!2d-76.13480568441828!3d43.039954899885196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9f376717c8157%3A0xb9ed77967c4d9a77!2sWomen&#39;s+Building%2C+Comstock+Ave%2C+Syracuse%2C+NY+13210!5e0!3m2!1sen!2sus!4v1566296624380!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        
        <table id="places">
              <tr>
                <th>Place</th>
                <th>Updated Location</th>
                <th>Directions</th>
              </tr>

              <tr>
                <td>Syracuse University Bookstore</td>
                <td>Schine Student Center</td>
                <td><i id ="autoid" class="schine fas fa-map-marked-alt"></i></td>
              </tr>

              <tr>
                <td>Goldstein Auditorium</td>
                <td>Schine Student Center</td>
                <td><i class="schine fas fa-map-marked-alt"></i></td>
              </tr>

              <tr>
                <td>Dunkin Donuts</td>
                <td>Kimmel Food Court</td>
                <td><i class="kimmel fas fa-map-marked-alt"></i></td>
              </tr>

              <tr>
                <td>Disability Cultural Center</td>
                <td>Bird Library</td>
                <td><i class="bird fas fa-map-marked-alt"></i></td>
              </tr>

              <tr>
                <td>Office of Multicultural Affairs</td>
                <td>Bird Library</td>
                <td><i class="bird fas fa-map-marked-alt"></i></td>
              </tr>

              <tr>
                <td>LGBT Resource Center</td>
                <td>Bird Library</td>
                <td><i class="bird fas fa-map-marked-alt"></i></td>
              </tr>
            
            <tr>
                <td>Schine Box Office</td>
                <td>Women's Building</td>
                <td><i class="womens fas fa-map-marked-alt"></i></td>
              </tr>
        </table>
        
    </div>
    
</body>
    
