@font-face{
    font-family: "bentonMedium";
    src: url(../assets/fonts/BentonSans-Medium.otf);
}
@font-face{
    font-family: "bentonMediumItalic";
    src: url(../assets/fonts/BentonSans-MediumItalic.otf);
}
@font-face{
    font-family: "bentonRegular";
    src: url(../assets/fonts/BentonSans-Regular.otf);
}
@font-face{
    font-family: "bentonRegularItalic";
    src: url(../assets/fonts/BentonSans-RegularItalic.otf);
}
body{
    margin: 0px;
}

table {
  border-collapse: collapse;
    width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  font-family: bentonRegular;
  font-size: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #F07730;
  color: white;
}
i{
    color: black;
}

i:hover{
    color: orange;
}

#places{
    height: 400px;
}

iframe{
    border: none;
    height: 300px;
}

.mainContainer{
    display: flex;
        flex-direction: column;

}

@media only screen and (max-width: 600px) {
    .mainContainer{
        flex-direction: column;
    }
    table{
        width: 100%;
    }
}

.schineMap{
    display: none;
}
    
.schineMap.active{
    display: block;
}
.kimmelMap{
    display: none;
}
.kimmelMap.active{
    display: block;
}

.birdMap{
    display: none;
}
.birdMap.active{
    display: block;
}

.womensMap{
    display: none;
}
.womensMap.active{
    display: block;
}