body{
    margin: 0;
    font-family: 'Roboto';
    text-decoration: none;
    background-color: #ffffff;
}

/* MAIN CONTAINER */

.maincontainer{
    max-width: 100%;
    margin: 0 auto;
}

/* HEADER */

.header{
    height: 70px;
    display: flex;
    background-color: #384c75; 
    justify-content: space-between;
    z-index: 100;
}

.anchors{
    display: flex;
    list-style-type: none;
    margin: 25px 0px;
    margin-right: 60px;
}

.anchors li{
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px;
}

.anchors li:hover{
    color: #8fd6fb;
}

.logo img{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 60px;
    
}

.header logo anchors a:hover{
    color: #8fd6fb;
}

a{
    text-decoration:none;
    margin-bottom: 0;
    z-index: 100;
}
.h1head{
    font-size: 55px;
    margin-top: 30px;
    font-weight: 900;
    color: #384c75;
}

.highlightsmall{
    display:
}

/* PARTICLES.JS */

.spot_tag{
    height: 500px;
    position: relative;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #8fd6fb;
    background-image: url('');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.particles-js-canvas-el{
    position: absolute;
    
}

h3{
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration: none;
    font-size: 55px;
    width: 70%;
    margin: 0px;
    text-align: center;
    padding: 0px 20px;
}
.navigationres{
    display: none;
}

/* SECTION 1 */

.section1{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    padding: 0px 40px;
}

.left{
    width: 400px;
    text-align: right;
}

.right img{
    width: 400px;
    padding: 30px;
}

.bodytext{
        font-size: 16px;

}

.bodytext img{
    width: 75%;
}

.highlight{
    font-weight: bold;
    margin-top: 20px;
    
}

.section2{
    display: flex;
    justify-content: center;
    background-color: #a7d8f7;
    height: 250px;
}

.fullwidthleft{
    width: 400px;
    color: #4e4c49;
    padding: 73px 40px;
    font-size: 28px;
    z-index: 20;
}

.fullwidthright img{
    height: 250px;
    padding-right: 20px;
}

.team{
    background-color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #384c75;
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
}

.flexteam{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bolder{
    font-weight: 900;
    color: #384c75;
}

.teammem{
    width: 200px;
    height: 200px;
    background-color: #384c75;
    margin: 20px 0px;
}

/* RESPONSIVE CSS */
@media only screen and (max-width: 940px) {
    .left{
        text-align: center;
    }
    .spot_tag{
    height: 400px;
}
    h3{
        font-size: 40px;
    }
    .anchors{
        margin-right: 20px;
    }
    .logo img{
        margin-left: 20px;
    }
    .fullwidthleft{
        font-size: 26px;
    }
}

@media only screen and (max-width: 690px) {
    .fullwidthleft{
        font-size:22px;
        padding-top: 76px;
    }
}
@media only screen and (max-width: 650px) {

    .section1{
        padding: 0px 20px;
    }    
    .fullwidthright img{
        display: none;
    }
    
    .section2{
        justify-content: center;
        height: 170px;
    }
    
    .fullwidthleft{
        text-align: center;
        padding-top: 45px;
        font-size: 23px;

    }
    
    .h1head{
        font-size: 40px;
    }
    
.anchors{
    display: none;
}
    
.navigationres{
    display: inline;
}
    
    .left{
        text-align: center;
    }
    
.spot_tag{
    height: 300px;
    padding-top: 70px;
}
    
    h3{
    font-size: 33px;
    }
    
.logo img{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 40px;
}
    .teammem{
    width: 150px;
    height: 150px;
    background-color: #384c75;
    margin: 10px 10px;
}
    
/* NAV */
    .nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 18px;
  width: 2rem;
  z-index: 2; }
  .nav-toggle:hover {
    opacity: 0.8; }
  .nav-toggle .nav-toggle-bar,
  .nav-toggle .nav-toggle-bar::after,
  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: white;
    content: '';
    height: 0.1rem;
    width: 100%; }
  .nav-toggle .nav-toggle-bar {
    margin-top: 0; }
  .nav-toggle .nav-toggle-bar::after {
    margin-top: 0.8rem; }
  .nav-toggle .nav-toggle-bar::before {
    margin-top: -0.8rem; }
  .nav-toggle.expanded .nav-toggle-bar {
    background: transparent; }
  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
    background: white;
    margin-top: 0; }
  .nav-toggle.expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .nav-toggle.expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/* nav */
    
    .nav a{
        text-decoration: none;
        color: white;
        font-weight: 700
    }
    
    .nav a:hover{
        color: #8fd6fb;
    }
.nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: left 0.5s ease;
  background: #4e4c49;
  color: white;
  cursor: pointer;
    font-family: Roboto;
    color: white;
    text-decoration: none;
    list-style-type: none;
  font-size: 2rem;
  height: 50px;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 70px;
  z-index: 1; }
  .nav.expanded {
    left: 0; }
  .nav ul {
    position: absolute;
    top: 20px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    }
    
    .header{
        justify-content: flex-end;
        position: fixed;
        width: 100%;
    }
    
}

