<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Donate - The Daily Orange</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-orange fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">donate.dailyorange.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">donate
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">goals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">return to dailyorange.com</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
        <header class="py-5 bg-image-full" style="background-image: url(assets/images/house.jpg)">
          <div class="d-block mx-auto centerbox">
                
                <div class="letterBox"><!--<img class="paperTop" src="assets/images/paper"/>--><h1 class="head1">OUR NEXT STORY</h1>
                    
                    <div id="topHeader" class="lfromedsm"><p class="lettersm"><i>“We’re turning the page toward a steadfast future”</i></p>

                    <p class="lettersm">The Daily Orange has served the Syracuse community for 116 years. 
Your donation helps The D.O. keep doing what it does best. </p>
                    <p class="lettersm" style="color: #db7b26;">Every dollar supports our mission of producing top-notch local journalism and creating opportunities for students.</p>
                                        <button class="openStyle" onclick="addletter()">learn more</button><button class="closedStyle">donate</button>

                    </div>
                                    
                    <div id="lfe" class="lfromed"><p class="letter">For 116 years, The D.O. has covered Syracuse like no other while training generations of journalists, innovators and leaders.</p>

                    <p class="letter">As The D.O. moves down the block, to 230 Euclid Ave., one era ends. But another is just beginning. We're launching a rigorous fundraising effort to ensure the future of one of Syracuse's most integral and venerated entities. The D.O. is a nonprofit, independent, student-run paper. We don't receive a cent from Syracuse University. That's by choice; Our editorial independence means that much to us.
                    </p>

                                      <p class="letter"><span class="georgiaItal">Independent journalism has a price.</span></p>

                    <p class="letter">Like newsrooms around the country, we’ve felt the effects of an industry in peril. Since 2013, our advertising revenue has dropped by 45 percent. The D.O.'s leadership has cut expenses by 35 percent in the past six years, including reducing print frequency to three days a week. We're running out of ways to save money.
                    </p>

                    <p class="letter">Even the face of painstaking decisions and cutbacks, we've maintained our status as the best collegiate newspaper in the country. We need your help more than ever.</p>

                    <p class="letter">If The D.O. wants to continue producing journalism at an award-winning level, there's little left to cut. If we want to continue to develop the next generation of groundbreaking communicators, we must turn the tide.</p>

                    <p class="letter">In our 117th year, <span class="georgiaItal">help us write our next story.</span>
                        <button class="closedStyle">donate</button></p>
                    </div>
                </div>
          </div>
        <!-- 
        <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> 
        -->
        </header>
    
  <div class="container">
    <!-- Jumbotron Header -->
      <!--
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>-->

    <!-- Page Features -->
    <section class="title">
        <section class="py-5">
    <div class="container">
      <h2>goals and priorities</h2>
        <p class="lead"><i>Intro text goes here. Intro text goes here. Intro text goes here. Intro text goes here.</i></p>
    </div>
        <div class="row text-center">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-70">
              <div class="card-body">
                <h4 class="card-title">protecting local journalism</h4>
                <p class="card-text"> Help preserve the No. 1 free news source in Syracuse
                </p>
                <p class="bullets">&bull; Investigative projects<br>
                &bull; Sports travel<br>
                &bull; Equipment<br>
                &bull; Web development</p>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-70">
              <div class="card-body">
                <h4 class="card-title">creating opportunties</h4>
                <p class="card-text">Help make The D.O. an accessible experiential learning opportunity for every student
                </p>
                <p class="bullets">&bull; Staff salaries
                &bull; Scholarships<br>
                &bull; Office supplies<br>
                &bull; Rent to pay for an accessible home</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="assets/images/744.jpg" alt="">
              </div>
            </div>
          </div>

    </section>
    <!-- /.row -->
      </section>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; The Daily Orange</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
    
    <script>
    function addletter() {
  var element = document.getElementById("lfe");
        element.classList.remove("lfromed");    }
    </script>

</html>
