<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Donate to the Daily Orange</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">
    <script src="https://player.vimeo.com/api/player.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-orange fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">donate.dailyorange.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">donate
                  <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">goals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">accolades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">return to dailyorange.com</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- CTA -->
    
  <header class="py-5 bg-image-full" style="background-image: url(assets/images/domArt_DO.jpg);">

        <div class="paperTop">
            <div class="paperContent">
                <h1 class="mac">OUR NEXT STORY</h1>
                <p class="miniMac">"We're turning the page toward a steadfast future."</p>
                    <p class="bodyCopy">The Daily Orange has served the Syracuse community for 116 years. Your donation helps The D.O. keep doing what it does best.</p>
                    <p class="bodyCopy"><span class="orange">Every dollar supports our mission of producing top-notch local journalism and creating opportunities for students.</span></p>
                
                <button class="openStyle">learn more
                </button>
                <button class="closedStyle">donate
                </button>
            </div>
        </div>
      
  </header>

  <!-- Content section -->
  <section class="py-5" style="background-image:url(assets/images/Paper.jpg);">
    <div class="container">
      <h1 class="sectionHead">goals and priorities</h1>
      <p class="lead">Every dollar supports The Daily Orange’s mission for generations to come. Be a part of our next story.</p>
        <!-- Cards -->
         <div class="row text-center">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">protect local journalism</h4>
                <p class="card-text"> With your donation, we’ll continue to be the record of SU history, in print and online via award-winning stories, photographs and designs. Help preserve the No. 1 free news source in Syracuse. You’ll support:
                </p>
                <p class="bullets">&bull; Investigative projects<br>
                &bull; Sports travel<br>
                &bull; Up-to-date equipment<br>
                &bull; Web development</p>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-70">
              <div class="card-body 2">
                            <div class="card h-100">
              <img class="card-img-top" src="assets/images/744.jpg" alt="">
              </div>
              </div>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">create opportunties</h4>
                <p class="card-text">Anyone can walk through our doors and get involved. We want to make sure it remains that way.  Help make The D.O. an  experiential learning opportunity for every student. You’ll support:
                </p>
                <p class="bullets">&bull; Staff salaries<br>
                &bull; Scholarships<br>
                &bull; Office supplies<br>
                &bull; Rent money for an accessible home</p>
              </div>
            </div>
          </div>
        </div>
        <!-- End Cards -->
    </div>
      
  </section>
    
    <section class="videoPlayer" style="background-image:url(assets/images/dark2.jpg);">
       <iframe class="stroke" src="https://player.vimeo.com/video/363601409?background=1&autoplay=1&loop=1&autopause=0" width="100%" height="100%" autoplay="1"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </section>
    
  <!-- Image Section - set the background image for the header in the line below -->
    <!-- 
  <section class="py-5 bg-image-full">
      
  </section>
-->
  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1 class="sectionHead">alumni testimonials</h1>
      <p class="lead">Hear what our alumni have to say about their time at The Daily Orange.</p>
      <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <h4 class="card-title">sara swann <span class="classOf">’18</span></h4>
            <p class="qualifier">The Fulcrum</p>


          <img class="card-img-top" src="assets/testimonials/saraS.gif" alt="">
            <p class="card-text topper">“It was like my second home, if not my first home, because I feel like sometimes I spent more time here than where I actually lived.”</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
                      <h4 class="card-title">josh barnett <span class="classOf">’94</span></h4>
                      <p class="qualifier">The Buffalo News</p>
          <img class="card-img-top" src="assets/testimonials/joshB.gif" alt="">
<p class="card-text topper">“When you go out into the ‘real’ world, it feels like you have a leg up. You’ve had a headstart from the experiences and the education that you got here at The D.O.”</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <h4 class="card-title">alexa diaz <span class="classOf">’18</span></h4>
            <p class="qualifier">Los Angeles Times</p>
          <img class="card-img-top" src="assets/testimonials/alexaD.gif" alt="">
        <p class="card-text topper ">“When I was looking at schools, I came to Syracuse because of The Daily Orange. It’s where I wanted to learn.”</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <h4 class="card-title">colin dabkowski <span class="classOf">’04</span></h4>
            <p class="qualifier">The Buffalo News</p>
          <img class="card-img-top" src="assets/testimonials/colinD.gif" alt="">
         <p class="card-text topper">“The Daily Orange helped shape my worldview in a way that I don’t think any traditional class could have done.”</p>
        </div>
      </div>

    </div>
    </div>
      
    <!-- AWARD WINNING PUBLICATION --> 
      <br><br><br>
      <div class="container">
      <h1 class="sectionHead">support our award winning publication</h1>
      <p class="lead">The Daily Orange was just named the Best College Newspaper of 2019 by the Princeton Review. We consistently earn national recognition from the Associated College Press and the Society of Professional Journalists, among other awards. </p>
      <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <h4 class="card-title middle award"> in-depth reporting national winner </h4>
            <p class="qualifier middle organization">Society of Professional Journalists
        </p>


          <img class="card-img-top" src="assets/images/stories/burke.png" alt="">
            <p class="card-text topper">“It was like my second home, if not my first home, because I feel like sometimes I spent more time here than where I actually lived.”</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
                      <h4 class="card-title middle award"> sports writing<br> regional winner  </h4>
            <p class="qualifier middle organization">Society of Professional Journalists
        </p>
          <img class="card-img-top" src="assets/images/stories/robertson.png" alt="">
<p class="card-text topper">“When you go out into the ‘real’ world, it feels like you have a leg up. You’ve had a headstart from the experiences and the education that you got here at The D.O.””</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <h4 class="card-title middle award"> breaking news reporting regional winner  </h4>
            <p class="qualifier middle organization">Society of Professional Journalists
        </p>
          <img class="card-img-top" src="assets/images/stories/thetatau.png" alt="">
        <p class="card-text topper ">“When I was looking at schools, I came to Syracuse because of The Daily Orange. It’s where I wanted to learn.”</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <h4 class="card-title middle award"> college division<br>best print feature story  </h4>
            <p class="qualifier middle organization">Syracuse Press Club
        </p>
          <img class="card-img-top" src="assets/images/stories/journey.png" alt="">
         <p class="card-text topper">“The Daily Orange helped shape my worldview in a way that I don’t think any traditional class could have done.”</p>
        </div>
      </div>

    </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script>
    var iframe = document.querySelector('iframe');
    var player = new Vimeo.Player(iframe);

    player.setVolume(0);
  </script>

</body>

</html>
