<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mom's Diner</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="main.js"></script>

</head>
    
    <body>

        <div class="mainContainer">
            <img src="assets/lg_Alto.jpg">
            <div class="audPlayer">
                 <audio controls>
              <source src="assets/audio/altocincoAudio.m4a" type="audio/ogg">
                     Your browser does not support the audio element.</audio>
            </div>
        </div>
        <div class="smallContainer">
            <img src="assets/sm_Alto.jpg">
            <div class="audPlayer">
                 <audio controls>
              <source src="assets/audio/altocincoAudio.m4a" type="audio/ogg">
                     Your browser does not support the audio element.</audio>
            </div>
        </div>

    </body>
</html>
    

    
